.heading{
    display: flex;
    justify-content: space-between;
}
.mainHeading{
    color: #4a383a;
    margin-bottom: 10px;
}

.codeWriteArea{
    display: flex;
}
.codeWriteArea ol{
    background-color: #f7f7f7;
    margin: 0;
    /* padding: 0; */
    border: 1px solid black;
}
.codeWriteArea ol li{
    color: #d5d4d3;
}
.outputConsole{
    background-color: black;
    color: white;
    width: 100%;
    min-height: 200px;
    margin-top: 50px;
}
.compileButton{
    background-color: yellow;
    color: black;
    margin-top: 10px;
    font-size: 20px;
}